# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
*~

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
flutter_export_environment.sh

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/.gradle/
/android/app/build/
/android/build/
/android/app/debug
/android/app/profile
/android/app/release

# iOS build artifacts
/ios/Pods/
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Flutter/app.flx
/ios/Flutter/app.zip
/ios/Flutter/engine
/ios/Flutter/flutter_assets
/ios/ServiceDefinitions.json

# Firebase and Crashlytics related
firebase_app_id_file.json
crashlytics-build.properties
serviceAccountKey.json

# Firebase Emulator logs and data
firebase-debug.log
firestore-debug.log
database-debug.log
ui-debug.log
storage-debug.log
firebase-debug.*
*-debug.log
emulator_data/

# Node.js related
node_modules/

# Environment variables
*.env
.env.*
