rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Permitir qualquer pessoa criar o primeiro adminConfig
    match /appSettings/adminConfig {
      allow create: if true;  // Qualquer pessoa pode criar o primeiro adminConfig

      // Apenas admins podem modificar o adminConfig
      allow update: if request.auth.token.role == 0;

      // Permitir leitura para usuários autenticados
      allow read: if request.auth != null;
    }

    // Permitir que qualquer um crie um usuário (sem necessidade de autenticação ou role)
    match /users/{userId} {
      allow create: if true;  // Qualquer pessoa pode criar um usuário

      // Apenas admins (role = 0) podem deletar ou modificar outros usuários
      allow delete, update: if request.auth.token.role == 0;

      // Permitir leitura apenas para o próprio usuário
      allow read: if request.auth != null && request.auth.uid == userId;
    }
  }
}
