rules_version = '2';

// service cloud.firestore {
//   match /databases/{database}/documents {
//     match /{document=**} {
//       allow read, write: if false;
//     }
//   }
// }
// Allow read/write access to a document keyed by the user's UID
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Regras para a coleção de usuários
    match /users/{userId} {
      // Permite a criação de um novo documento de usuário por qualquer usuário autenticado
      allow create: if request.auth != null;

      // Permite leitura e escrita no próprio documento do usuário
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
    }

    // Regras para a configuração do aplicativo
    match /appSettings/{document=**} {
      // Permite leitura para qualquer usuário autenticado
      allow read: if request.auth != null;

      // Permite escrita inicial para criar o documento 'adminConfig'
      allow write: if request.auth != null && !exists(/databases/$(database)/documents/appSettings/$(document));
      
      // Permite atualização condicional
      allow update: if request.auth != null && request.resource.data.keys().hasAny(['adminId']);
    }
  }
}
